<style>
	.error {color: red;}
</style>
<div class="container">
		<div class="heading text-center">
			<h2>Contact</h2>
			<p class="lead">Would you like to know more about me? Get in touch!</p>
		</div>
		<div class="row">
			<div class="col-md-8">
				<form name="contactForm" novalidate>
					<div class="form-group">
						<span class="error" ng-show="contactForm.fName.$dirty && contactForm.fName.$invalid">Oops, please leave your name within 50 characters</span>
						<input type="text" class="form-control" id="input-name" name="fName" ng-model="contact.name" placeholder="Name * " required>
					</div>
					<div class="form-group">
						<span class="error" ng-show="contactForm.fEmail.$dirty && contactForm.fEmail.$invalid">Please input your email address</span>
						<input type="email" class="form-control" id="input-email" name="fEmail" ng-model="contact.email"  placeholder="Email address * " required>
					</div>
					<div class="form-group">
						<span class="error" ng-show="contactForm.fMessage.$dirty && contactForm.fMessage.$invalid">Oops, let me know your message</span>
						<textarea id="input-message" cols="30" rows="10" class="form-control" name="fMessage" ng-model="contact.message" placeholder="Message * " required></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-default" ng-click="submitContact();" ng-disabled="!contactForm.fName.$valid || !contactForm.fEmail.$valid || !contactForm.fMessage.$valid">Get in touch!</button>
					</div>
				</form>
			</div>
			<div class="col-md-4 text-center">
				<div class="general-info">General Info.</div>
				<div class="info-name">Wataru Oguchi</div>
				<div class="info-titles">Software Engineer <br>&amp; Web Developer</div>
				<div class="info-mail">hello@wataruoguchi.com</div>
				<div class="social">
					<ul class="social-network social-circle">
						<li><a target="_blank" href="https://www.linkedin.com/in/wataruoguchi" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a target="_blank" href="https://github.com/wataruoguchi/" title="GitHub"><i class="fa fa-github-alt"></i></a></li>
						<li><a target="_blank" href="http://stackoverflow.com/users/3718498/wataru" title="stackoverflow"><i class="fa fa-stack-overflow"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
