<div class="container">
	<div class="heading text-center">
		<h2>I'm your guy</h2>
		<p class="lead">I will bring these qualities to your team with a great attitude to boot!</p>
	</div>
	<span ng-repeat="forGetttingParentIndex in results">
		<div class="row" ng-if="$index<results.length/4+1">
			<span ng-repeat="result in results">
				<div class="col-xs-6 col-md-3 quality-card" ng-if="$index >= 4*$parent.$index && $index <= 4*($parent.$index+1)-1">
					<div class="thumbnail">
						<div class="frame-of-icon">
							<i class="{{result.iconName}}"></i>
						</div>
						<h3 class="caption-title text-center">{{result.title}}</h3>
						<p>{{result.desc}}</p>
					</div>
				</div>				
			</span>
		</div>		
	</span>
</div>