<div class="container">
	<div class="heading text-center">
		<h2>Work</h2>
		<p class="lead">Work gallery I've done in last a year.</p>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- items start -->
			<div class="row gallery-container">
				<!-- item start -->
				<div class="col-sm-6 col-md-4 gallery-item web-design">
					<div class="img-box">  <!-- TODO:not sure if I need this element -->
						<div class="overlay-container">
							<img src="./asset/person.jpg" alt="">
							<a class="overlay" data-toggle="modal" data-target="#project-1">
								<i class="fa fa-search-plus"></i>
							</a>
						</div>
						<a class="btn btn-default btn-block work-btn" data-toggle="modal" data-target="#project-1">A blog website</a>
					</div>
					<!-- Modal start -->
					<div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
						<div class="modal-content">
							<!-- modal header start -->
							<div class="modal-header">
								<button class="close" type="button" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title" id="project-1-label">Project title in the modal</h4>
							</div>
							<!-- modal header end -->
							<!-- modal body start -->
							<div class="modal-body">
								<h3>Project description</h3>
								<div class="row">
									<div class="col-md-6">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae iusto odio est, ipsum fugit odit perspiciatis quis minus ad illum, aliquam mollitia quidem. Provident voluptatibus mollitia, neque quam cum laborum.</p>
									</div>
									<div class="col-md-6"><img src="./asset/person.jpg" alt=""></div>
								</div>
							</div>
							<!-- modal body end -->
							<!-- modal footer start -->
							<div class="modal-footer">
								<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
							</div>
							<!-- modal footer end -->
						</div>
					</div>
					<!-- Modal end -->
				</div>
				<!-- item end -->
			</div>
			<!-- items end -->
		</div>
	</div>
</div>
