<div class="container">
	<div class="heading text-center">
		<h2>Work</h2>
		<p class="lead">Work gallery I've done in last a year.</p>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- items start -->
			<div class="row gallery-container">
				<!-- item start -->
				<div class="col-sm-6 col-md-4 gallery-item web-design" ng-repeat="work in works">
					<div class="img-box">  <!-- TODO:not sure if I need this element -->
						<div class="overlay-container">
							<div class="thumbnail-image" style="background-image: url({{work.thumbnailImage}})"></div>
							<a class="overlay" data-toggle="modal" data-target="#project-{{$index}}">
								<i class="fa fa-search-plus"></i>
							</a>
						</div>
						<a class="btn btn-default btn-block work-btn" data-toggle="modal" data-target="#project-{{$index}}">{{work.shortTitle}}</a>
					</div>
					<!-- Modal start -->
					<div class="modal fade" id="project-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="project-{{$index}}-label" aria-hidden="true">
						<div class="modal-content col-md-10 col-md-offset-1">
							<!-- modal header start -->
							<div class="modal-header">
								<button class="close" type="button" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title" id="project-{{$index}}-label">{{work.title}}</h4>
							</div>
							<!-- modal header end -->
							<!-- modal body start -->
							<div class="modal-body">
								<h3>Project Description</h3>
								<div class="row">
									<div class="col-md-5">
										<p class="work-description" ng-bind-html="work.description"></p>
									</div>
									<div class="col-md-7 img-box"><img src="{{work.thumbnailImage}}" alt=""></div>
								</div>
							</div>
							<!-- modal body end -->
							<!-- modal footer start -->
							<div class="modal-footer">
								<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
							</div>
							<!-- modal footer end -->
						</div>
					</div>
					<!-- Modal end -->
				</div>
				<!-- item end -->
			</div>
			<!-- items end -->
		</div>
	</div>
</div>
